header {
    background-color: #003580;
    padding-top: 20px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
}

.logo span {
    color: rgb(8, 150, 255);
}

.header-items button {
    margin-left: 10px;
    vertical-align: middle;
}

.header-items {
    position: relative;
}

.currency-button {
    padding: 15px 10px 15px;
    color: white;
    font-size: 20px;
    background-color: #003580;
    border: none;
}

.currency-button:hover, .lang-button:hover {
    background-color: #315d9b;
    border-radius: 4px;
    cursor: pointer;
}

.lang-button {
    padding: 10px;
    background-color: #003580;
    border: none;
}

.lang-button img {
    border-radius: 15px;
    width: 30px;
    height: 30px;
    
}

.select-language {
    position: absolute;
    top: 60px;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid rgb(230, 227, 227);
    display: none;
    z-index: 1;
}

.close-language-form {
    width: 15px;
    height: 15px;
    background: url(../images/x-mark.png);
    background-size: 100%;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.select-language h3 {
   margin-bottom: 15px;
}

.select-language-button {
    background-color: rgb(238, 235, 235);
    border-radius: 4px;
}

.select-language-button:hover {
    background-color: rgb(221, 217, 217);
}

button.leave-your-feedback {
    padding: 10px;
    font-size: 16px;
    font-weight: bolder;
    background-color: #003580;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
}

button.leave-your-feedback:hover {
    cursor: pointer;
    background-color: #315d9b;
}

.register-button, .sign-in-button, button.personal-page {
    padding: 10px;
    color: #0071c2;
    font-size: 16px;
    font-weight: bolder;
    background-color: white;
    border: 2px solid #0071c2;
    border-radius: 3px;
}

button.personal-page {
    display: none;
}

.register-button:hover, .sign-in-button:hover, button.personal-page:hover {
    cursor: pointer;
    background-color: #dfeff8;
}

header nav li{
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    color: white;
}

header nav {
    transform: translateX(-15px);
}

header nav li:first-child::before {
    content: '';
    width: 25px;
    height: 25px;
    display: inline-block;
    background-image: url(../images/bed.png);
    background-size: 100%;
    margin-right: 10px;
    vertical-align: middle;
    transform: translateY(-3px);
}

header nav li.inspiration::before {
    content: '';
    width: 25px;
    height: 25px;
    display: inline-block;
    background-image: url(../images/sunrise.svg);
    background-size: 100%;
    margin-right: 10px;
    vertical-align: middle;
    transform: translateY(-4px);
}

header nav li.feedbacks::before {
    content: '';
    width: 25px;
    height: 25px;
    display: inline-block;
    background-image: url(../images/rating.png);
    background-size: 100%;
    margin-right: 10px;
    vertical-align: middle;
    transform: translateY(-4px);
}

header nav li:hover {
    background-color: #315d9b;
    cursor: pointer;
}

.user-bar-icon {
    color: white;
    font-size: 26px;
    vertical-align: baseline;
    padding: 10px;
    display: none;
}

.user-bar-icon:hover {
    background-color: #315d9b;
    cursor: pointer;
    border-radius: 3px;
}

.colored-clock {
    font-size: 20px;
}

@media (max-width: 800px) {
    .user-bar {
        background-color: white;
        width: 102vw;
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        right: -20px;
        top: 45px;
        padding: 10px;
        z-index: 2;
        border: 1px solid rgb(230, 227, 227);
        display: none;
    }
    .user-bar-icon {
        display: inline-block;
    }
    button.register-button, button.sign-in-button, button.personal-page, button.leave-your-feedback, button.currency-button, .lang-button{
        font-size: 16px;
        font-weight: bolder;
        margin-right: 10px;
        text-align: right;
        background-color: white;
        border: none;
        border: bottom;
        color: #0071c2;
    }
    .header-items button:hover {
        background-color: #dfeff8;
    }
    .select-language {
        position: absolute;
        top: 125px;
        right: 85px;
        padding: 0 15px 0 0;
        border: none;
        border-right: 4px solid rgb(230, 227, 227);
        border-radius: 0;
    }
    .select-language {
        background-color: rgba(255, 255, 255, 0);
    }
    button.select-language-button {
        background-color: rgba(255, 255, 255, 0);
    }
    .select-language h3 {
        display: none;
    }
    .close-language-form {
        display: none;
    }
}

@media (max-width: 550px) {
    .logo {
        font-size: 26px;
    }
    .colored-clock {
        display: none;
    }
}

@media (max-width: 420px) {
    .user-bar {
        width: 105vw;
    }
}