.personal-page {
    padding-top: 30px;
}

.personal-page h1 + p {
    color: rgb(109, 108, 108);
    font-size: 18px;
}

.personal-page-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}

.personal-page-item {
    width: 49%;
    border: 3px solid #e6e6e6;
    border-radius: 3px;
    margin-bottom: 25px;
    text-decoration: none;
    color: black;
    padding: 25px;
    display: flex;
    align-items: flex-start;
}

.personal-page-item:hover {
    color: #0071c2;
}

.personal-page-item i {
    font-size: 35px;
    margin-right: 20px;
}

.pseudolink {
    color: #0071c2;
    margin-top: 15px;
}

.log-out {
    text-align: center;
}

.personal-page button {
    width: 200px;
    height: 50px;
    background-color: #315d9b;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
}

.personal-page button:hover {
    cursor: pointer;
    background-color: #0071c2;
}

@media (max-width: 650px) {
    .personal-page-item {
        width: 100%;
    }
}