* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* header */

header {
    background-color: #003580;
    padding-top: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
}

.logo span {
    color: rgb(8, 150, 255);
}

.header-items button {
    margin-left: 10px;
    vertical-align: middle;
}

.currency-button {
    padding: 15px 10px 15px;
    color: white;
    font-size: 20px;
    background-color: #003580;
    border: none;
}

.currency-button:hover, .lang-button:hover {
    background-color: #315d9b;
    border-radius: 4px;
    cursor: pointer;
}

.lang-button {
    padding: 10px;
    background-color: #003580;
    border: none;
}

.lang-button img {
    border-radius: 15px;
    width: 30px;
    height: 30px;
}

.register-button, .sign-in-button {
    padding: 10px;
    color: #0071c2;
    font-size: 16px;
    font-weight: bolder;
    background-color: white;
    border: 2px solid #0071c2;
    border-radius: 3px;
}

.register-button:hover, .sign-in-button:hover {
    cursor: pointer;
    background-color: #dfeff8;
}

header nav li{
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    color: white;
}

header nav {
    transform: translateX(-15px);
}

header nav li:first-child::before {
    content: '';
    width: 25px;
    height: 25px;
    display: inline-block;
    background-image: url(../images/bed.png);
    background-size: 100%;
    margin-right: 10px;
    vertical-align: middle;
    transform: translateY(-3px);
}

header nav li:last-child::before {
    content: '';
    width: 25px;
    height: 25px;
    display: inline-block;
    background-image: url(../images/sunrise.svg);
    background-size: 100%;
    margin-right: 10px;
    vertical-align: middle;
    transform: translateY(-4px);
}

header nav li:hover {
    background-color: #315d9b;
    cursor: pointer;
}

.sign-in-form {
    padding: 30px;
    width: 350px;
    background-color: white;
    border: 3px solid #dfeff8;;
    border-radius: 10px;
    position: fixed;
    top: 165px;
    left: 50vw;
    transform: translateX(-175px);
    display: none;
}

.close-form {
    width: 15px;
    height: 15px;
    background: url(../images/x-mark.png);
    background-size: 100%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-form:hover {
    cursor: pointer;
}

.sign-in-form input {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.sign-in-form button {
    width: 100%;
    height: 40px;
    background-color: #315d9b;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 3px;
    margin-top: 5px;
}

.sign-in-error {
    color: red;
}

.sign-in-form button:hover {
    cursor: pointer;
}

.sign-in-error {
    display: none;
}

.blur {
    filter: blur(10px);
}

/* page 1 */

.coronavirus {
    background-color: #fff0e0;
    padding-top: 15px;
}

.coronavirus-wrapper {
    display: flex;
    justify-content: space-between;
}

.coronavirus-wrapper img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.coronavirus h3 {
    margin-bottom: 20px;
}

.coronavirus h3::before {
    content: '';
    width: 25px;
    height: 25px;
    display: inline-block;
    background-image: url(../images/info.png);
    background-size: 100%;
    margin-right: 10px;
    vertical-align: middle;
    transform: translateY(-3px);
}

.coronavirus p {
    margin-bottom: 15px;
}

.coronavirus a {
    display: inline-block;
    margin-bottom: 10px;
}

.search-box {
    background-color: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e0dddd;
}

h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

.search-box form {
    margin-top: 30px;
    margin-bottom: 20px;
}

.search-box form input {
    height: 60px;
    padding-left: 20px;
    border: 5px solid #febb02;
    border-radius: 5px;
}

.search-box form input[type="text"] {
    width: 35%;
}

.search-box form input[type="date"] {
    width: 24%;
}

.search-box form input[type="number"] {
    width: 30%;
}

.search-box form button {
    width: 10%;
    height: 60px;
    border: 5px solid #febb02;
    border-radius: 5px;
    background-color: #0071c2;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transform: translateY(2px);
}

.search-box input[type="checkbox"] {
    cursor: pointer;
}

.explore {
    margin-top: 40px;
    margin-bottom: 70px;
}

h2 {
    margin-bottom: 10px;
}

.explore-wrapper {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.explore-items {
    width: 19%;
    color: black;
    text-decoration: none;
}

.explore-items img {
    width: 100%;
    border-radius: 4px;
}

.explore-items h4 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.offers-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    text-shadow: 2px 2px 2px #000;
    margin-bottom: 40px;
}

.offers-items {
    margin-bottom: 20px;
    height: 300px;
    border-radius: 3px;
    padding: 30px 20px 0;
    position: relative;
}

.offers-items:hover {
    cursor: pointer;
    box-shadow: inset 0px 70px 30px rgba(66, 65, 65, 0.445);
}

.offers-prague, .offers-copenhagen {
    width: 49%;
}

.offers-prague {
    background: url(../images/offers/prague.jpg);
    background-size: cover;
    background-position: center;
}

.offers-copenhagen {
    background: url(../images/offers/copen.jpg);
    background-size: cover;
    background-position: center;
}

.offers-vienna, .offers-budapest, .offers-berlin {
    width: 32%;
}

.offers-vienna {
    background: url(../images/offers/wien.jpg);
    background-size: cover;
    background-position: center;
} 

.offers-budapest{
    background: url(../images/offers/budap.jpg);
    background-size: cover;
    background-position: center;
} 

.offers-berlin {
    background: url(../images/offers/berlin.jpg);
    background-size: cover;
    background-position: center;
}

.price {
    position: absolute;
    text-align: right;
    padding: 5px;
    bottom: 20px;
    right: 20px;
    background-color: rgba(66, 65, 65, 0.712);
    border-radius: 3px;
}

.connect-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.connect-items {
    width: 23.5%;
    text-decoration: none;
    color: black;
}

.connect-items img {
    width: 100%;
    border-radius: 3px;
}

.connect-items h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

/* page 2 */

.inspiration {
    margin-top: 30px;
}

.inspiration h2 {
    font-size: 22px;
    margin-bottom: 7px;
}

.inspiration-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inspiration-items {
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 0 15px 0;
    color: white;
    text-decoration: none;
}

.inspiration-items:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition-duration: 0.4s;
}

.pool div, .berlin div, .spa div, .portugal div, .ski div {
    position: absolute;
    bottom: 20px;
}

.pool, .berlin, .spa {
    width: 32.5%;
    height: 300px;
}

.pool {
    background: linear-gradient(180deg, #ffffff00 50%, #242323 90%), url(../images/inspiration/pool.jpg);
    background-size: cover;
}

.berlin {
    background: linear-gradient(180deg, #ffffff00 50%, #242323 90%), url(../images/inspiration/club.jpg);
    background-size: cover;
}

.spa {
    background: linear-gradient(180deg, #ffffff00 50%, #242323 90%), url(../images/inspiration/mask.jpg);
    background-size: cover;
}

.portugal, .ski {
    width: 49%;
    height: 370px;
}

.portugal {
    background: linear-gradient(180deg, #ffffff00 50%, #242323 90%), url(../images/inspiration/house.jpg);
    background-size: cover;
}

.ski {
    background: linear-gradient(180deg, #ffffff00 50%, #242323 90%), url(../images/inspiration/mountains.jpg);
    background-size: cover;
}

.destinations {
    margin-top: 40px;
}

.destinations nav {
    border-bottom: 1px solid rgb(3, 3, 189);
    margin: 10px 0;
}

.destinations nav li {
    display: inline-block;
    padding: 10px 20px;
    color: gray;
}

.destinations nav li:hover{
    cursor: pointer;
}

.regions-wrapper, .cities-wrapper, .places-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.regions-wrapper a, .cities-wrapper a, .places-wrapper a {
    width: 19%;
    text-decoration: none;
    color: #0071c2;
    display: block;
    margin-top: 10px;
}

.regions-wrapper a:hover, .cities-wrapper a:hover, .places-wrapper a:hover {
    color: brown;
}

.cities-wrapper, .places-wrapper {
    display: none;
}

/* footer */

footer {
    margin-top: 90px;
    background-color: #00224f;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer h1 {
    margin-bottom: 15px;
}

footer p {
    margin-bottom: 25px;
}

footer input, footer button {
    height: 50px;
    border-radius: 4px;
    font-size: 20px;
}

footer input {
    width: 300px;
    padding-left: 15px;
}

footer button {
    width: 120px;
    cursor: pointer;
    background-color: #0071c2;
    color: white;
    border: none;
}