@import url(./header.css);
@import url(./sign-in-form.css);
@import url(./stays.css);
@import url(./coronavirus.css);
@import url(./inspiration.css);
@import url(./footer.css);
@import url(./feedback.css);
@import url(./personal-page.css);
@import url(./search-results.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-content {
    min-height: calc(100vh - 295px);
}

.container {
    max-width: 1200px;
    margin: auto;
}

.blur {
    filter: blur(10px);
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

@media (max-width: 1200px) {
    .container{
        width: 95%;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
}